@workout
<h1>FITracker</h1>

<h2>Edit Workout</h2>

<form action="/<%= @workout.user.username %>/workouts/<%= @workout.id %>" method="POST">
    <input type="hidden" name="_method" value="PATCH">

    <label for="workout_title"><h4>Workout Title: </h4></label>
    <input type="text" name="workout[title]" id="workout_title" value="<%= @workout.title %>">

    <br><br>

    <h4>Type of Workout:</h4>
    <input type="radio" id="cardio" name="workout[workout_type]" value="Cardio" <%='checked' if @workout.workout_type == "Cardio" %>>
    <label for="cardio">Cardio</label>

    <input type="radio" id="strength" name="workout[workout_type]" value="Strength" <%='checked' if @workout.workout_type == "Strength" %>>
    <label for="strength">Strength</label>

    <input type="radio" id="hiit" name="workout[workout_type]" value="HIIT" <%='checked' if @workout.workout_type == "HIIT" %>>
    <label for="hiit">HIIT</label>
    
    <br><br>
    <input type="submit" value="Update Workout">
</form>
