<h1>FiTracker</h1>

<h3><%= @workout.title %></h3>

<% @workout.exercises.each do |exercise| %>
    <div>
        <h4><%= exercise.title %></h4>
        <p>Sets: <%= exercise.sets %></p>
        <p>Reps: <%= exercise.reps%></p>
        <p>Distance: <%= exercise.distance%></p>
        <p>Duration: <%= exercise.duration %></p>
    </div>
<% end %>
