<% if current_user == @workout.user%>
    <button class="new-exercise"><a href="/<%= @workout.user.username %>/workouts/<%= @workout.id %>/exercises/new">Add Exercise</a></button>
<% end %>

<h1 class="exercise-header"><%= @workout.title %></h1>

<div class="exercise-container">
    <% @workout.exercises.each do |exercise| %>
        <div class="exercise-section">
            <p><%= exercise.title %></p>
            <p>Sets: <%= exercise.sets %></p>
            <p>Reps: <%= exercise.reps%></p>
            <p>Distance: <%= exercise.distance%></p>
            <p>Duration: <%= exercise.duration %></p>
            <br>
            <button class="edit"><a href="/exercises/<%=exercise.id %>/edit">Edit Exercise</a></button>
            <button class="delete"><a href="/exercises/<%=exercise.id %>/delete">Delete Exercise</a></button>
        </div>
    <% end %>
</div>
