<h1>FITracker</h1>

<h3><%= @workout.title %></h3>
<a href="/<%= @workout.user.username %>/workouts/<%= @workout.id %>/exercises/new">Add Exercise</a>

<% @workout.exercises.each do |exercise| %>
    <div>
        <h4><%= exercise.title %></h4>
        <p>Sets: <%= exercise.sets %></p>
        <p>Reps: <%= exercise.reps%></p>
        <p>Distance: <%= exercise.distance%></p>
        <p>Duration: <%= exercise.duration %></p>
        <br>
        <a href="/exercises/<%=exercise.id %>/edit">Edit Exercise</a>
        <a href="/exercises/<%=exercise.id %>/delete">Delete Exercise</a>
    </div>
<% end %>
