<% if current_user == @workout.user%>
    <button class="new-exercise"><a href="/<%= @workout.user.username %>/workouts/<%= @workout.id %>/exercises/new">Add Exercise</a></button>
<% end %>

<h1 class="exercise-header"><%= @workout.title %></h1>

<div class="exercise-container">
    <% @workout.exercises.each do |exercise| %>
        <div class="exercise-section">
            <p><%= exercise.title %></p>
            <% if exercise.sets != nil %>
                <p>Sets: <%= exercise.sets %></p>
            <% end %>
            <% if exercise.reps != nil %>
                <p>Reps: <%= exercise.reps%></p>
            <% end %>
            <% if exercise.weight != nil %>
                <p>Weight: <%= exercise.weight%> lbs</p>
            <% end %>
            <% if exercise.distance != nil %>
                <p>Distance: <%= exercise.distance%> miles</p>
            <% end %>
            <% if exercise.duration != nil %>
                <p>Duration: <%= exercise.duration %> minutes</p>
            <% end %>
            <br>
            <% if current_user == exercise.workout.user%>
                <button class="edit"><a href="/exercises/<%=exercise.id %>/edit">Edit Exercise</a></button>
                <form action="/exercises/<%=exercise.id %>/delete" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="submit" value="Delete Exercise">
                </form>
            <% end %>
        </div>
    <% end %>
</div>


