<% if current_user == @user %>
    <button class="new-workout"><a href="/workouts/new">New Workout</a></button>
<% end %>

<h1 class="workout-header"><%=@user.first_name%>'s Workouts</h1>

<% @user.workouts.each do |workout| %>
    <div class="workout-section">
        <p><a href="/<%= workout.user.username %>/workouts/<%= workout.id %>"><%= workout.title%></a></p>
        <p>Type: <%= workout.workout_type %></p>
        <button class="edit"><a href="/<%= @user.username %>/workouts/<%= workout.id %>/edit">Edit</a></button>
        <button class="delete"><a href="/<%= @user.username %>/workouts/<%= workout.id %>/delete">Delete</a></button>
        <br>
        <p class="right"><%= workout.created_at %></p>
    </div>
<% end %>