<% if current_user == @user %>
    <button class="new-workout"><a href="/workouts/new">New Workout</a></button>
<% end %>

<h1 class="workout-header"><%=@user.first_name%>'s Workouts</h1>

<% @user.workouts.each do |workout| %>
    <div class="workout-section">
        <p><a href="/<%= workout.user.username %>/workouts/<%= workout.id %>"><%= workout.title%></a></p>
        <p>Type: <%= workout.workout_type %></p>
        <% if current_user == workout.user %>
            <button class="edit"><a href="/<%= @user.username %>/workouts/<%= workout.id %>/edit">Edit</a></button>
            <form action="/<%= @user.username %>/workouts/<%= workout.id %>/delete" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Delete">
            </form>
        <% end %>
        <br>
        <p class="right"><%= workout.created_at %></p>
    </div>
<% end %>


